# SPDX-License-Identifier: Apache-2.0 OR GPL-2.0-or-later

.DS_Store
.vscode
scratch/
notes/

node_modules
.pnp
.pnp.js

/webapp/coverage

/webapp/build

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
